{% extends "index.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/portfolio.css') }}">

{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
<h2>Portfolio monitor</h2>

<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
    <div class="col-6 col-md-4 col">
        <h4>Erik Lundin's portfolio</h4>
        <p>All-time %</p>
        <p>Portfolio VaR:</p>
        <p>Portfolio volatility:</p>
        <p>Pie chart of % of different assets<p>
    </div>
    <div class="col-12 col-md-8 col">Plot showing latest development</div>
  </div>
  
  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
  <div class="row">
    <div class="col-6 col-md-4 col">Scrollable list of assets, add new here</div>
    <div class="col-6 col-md-4 col">.col-6 .col-md-4</div>
    <div class="col-6 col-md-4 col">.col-6 .col-md-4</div>
  </div>
  
  <!-- Columns are always 50% wide, on mobile and desktop -->
  <div class="row">
    <div class="col-6 col">.col-6</div>
    <div class="col-6 col">.col-6</div>
  </div>
</div>

{% endblock %}


{% block endscripts %}
<script type="text/javascript">


</script>
{% endblock %}