{% extends "index.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stock.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap-multiselect-min.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/bootstrap-multiselect.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/plotly.js') }}"></script>
{% endblock %}

{% block content %}
<h2>Explore</h2>


<div class="d-flex bd-highlight">

  <div class="p-4 bd-highlight fixed-width-1">
    <div class="row">
      <select id="ticker-multiselect" multiple="multiple">
        {% for item in tickers_info %}
        <option class="ticker-option" value="{{ item.ticker }}">{{item.ticker}} ({{item.company_name}})</option>
        {% endfor %}>
      </select>
    </div>
    <div id="selected-tickers-badges" class="row">
      <span class="badge bg-light text-dark">Selected assets: </span>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
        <div id="data-toggle-radio" class="btn-group btn-group-toggle centered" data-toggle="buttons">
          <label class="btn date-btn" >
            <input type="radio" name="date-options" autocomplete="off" value="100y"> All
          </label>
          <label class="btn date-btn">
            <input  type="radio" name="date-options" autocomplete="off" value="5 years"> 5y
          </label>
          <label class="btn active date-btn">
            <input  type="radio" name="date-options" autocomplete="off" checked value="1 year"> 1y
          </label>
          <label class="btn date-btn" >
            <input type="radio" name="date-options" autocomplete="off" value="6 months"> 6m
          </label>
          <label class="btn date-btn" >
            <input type="radio" name="date-options" autocomplete="off" value="1 month"> 1m
          </label>
          <label class="btn date-btn" >
            <input type="radio" name="date-options" autocomplete="off" value="1 week"> 1w
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <select id="indicator-multiselect" multiple="multiple">
        {% for item in indicators_info %}
        <option class="indicator-option" value="{{ item.indicator }}">{{item.indicator}}</option>
        {% endfor %}>
      </select>
    </div>

    <div class="row">
      <div class="col-sm-offset-2 col-sm-10 centered">
        <button onclick="select()" class="btn btn-default">Update</button>
      </div>
    </div>

  </div>
  <div class="p-2 bd-highlight container-fluid">
    <div>
      <div id="chart" class="chart"></div>
    </div>

  </div>
</div>

<div class="d-flex bd-highlight row">
  Tables here
</div>



{% endblock %}


{% block endscripts %}
<script type="text/javascript">

  function removeBadges() {
    $('.ticker-badge').remove();
  }
  function removeBadge(tickerBadge) {
    $('.ticker-badge').filter(':contains("' + tickerBadge + '")').remove();
    $('#ticker-multiselect').multiselect('deselect', tickerBadge);
  }
  function addBadge(tickerBadge) {
    $('#selected-tickers-badges').append('<a href="#" onclick=removeBadge("' + tickerBadge + '") class="ticker-badge badge badge-pill badge-success">' + tickerBadge + '</span>');
  }
  function reloadBadges() {
    removeBadges();
    for (const ticker of $("#ticker-multiselect").val()) {
      addBadge(ticker);
    }
  }
  function fillOptions(graphJSON) {
    $('#ticker-multiselect').multiselect('select',
      graphJSON.data.map(function (value) {
        console.log(value.legendgroup)
        return value.legendgroup;
      })
    );
    reloadBadges();
  }
  $("#ticker-multiselect").change(function () {
    reloadBadges();
  });
  $(document).ready(function () {
    $('#ticker-multiselect').multiselect({
      enableFiltering: true,
      includeFilterClearBtn: false,
      enableCaseInsensitiveFiltering: true,
      buttonWidth: '100%',
      numberDisplayed: 1,
      buttonContainer: '<div class="btn-group"/>',
      includeSelectAllOption: true,
      selectAllValue: 'select-all-value'
    });
    $('#indicator-multiselect').multiselect({
      enableFiltering: true,
      includeFilterClearBtn: false,
      enableCaseInsensitiveFiltering: true,
      buttonWidth: '100%',
      numberDisplayed: 1,
      buttonContainer: '<div class="btn-group"/>',
      includeSelectAllOption: true,
      selectAllValue: 'select-all-value'
    });
    

    var graphJSON = {{ linegraphJSON | safe
  }};
  Plotly.plot('chart', graphJSON, {});
  fillOptions(graphJSON);
  });


  function select() {
    console.log('selecting');
    var selectedTickers = $('#ticker-multiselect option:selected').map(function () {
      return this.value;
    }).get();
    var selectedDaterange = $('input[name="date-options"]:checked').val();
    $.getJSON({
      url: "/stock/select",
      data: {
        'tickers': selectedTickers,
        'date-range': selectedDaterange
      },
      success: function (result) {
        console.log(result.data);
        fillOptions(result);
        // Retrieve tickers supplied to plot and add them to select box

        Plotly.newPlot('chart', result, {});
      }
    });
  }

</script>
{% endblock %}