{% extends "index.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stock.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap-multiselect-min.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/bootstrap-multiselect.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/plotly.js') }}"></script>
{% endblock %}

{% block content %}
<h2>Explore</h2>


<div class="d-flex bd-highlight">

  <div class="p-4 bd-highlight fixed-width-1">
    <div class="row">
      <select id="example-getting-started" multiple="multiple">
        {% for item in tickers_info %}
        <option class="ticker-option" value="{{ item.ticker }}">{{item.ticker}} ({{item.company_name}})</option>
        {% endfor %}>
      </select>
    </div>
    <div id="selected-tickers-badges" class="row">
      <span class="badge bg-light text-dark">Selected assets: </span>

    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
        <button onclick="select()" class="btn btn-default">Update</button>
      </div>
    </div>

  </div>
  <div class="p-2 bd-highlight container-fluid">
    <div>
      <div id="chart" class="chart"></div>
    </div>
    <div>
      <label for="customRange1" class="form-label">Example range</label>
      <input type="range" class="form-range" id="customRange1">
    </div>

  </div>
</div>

<div class="d-flex bd-highlight row">
  Tables here
</div>



{% endblock %}


{% block endscripts %}
<script type="text/javascript">

  function removeBadges() {
    $('.ticker-badge').remove();
  }
  function removeBadge(tickerBadge) {
    $('.ticker-badge').filter(':contains("' + tickerBadge + '")').remove();
    $('#example-getting-started').multiselect('deselect', tickerBadge);
  }
  function addBadge(tickerBadge) {
    $('#selected-tickers-badges').append('<a href="#" onclick=removeBadge("' + tickerBadge + '") class="ticker-badge badge badge-pill badge-success">' + tickerBadge + '</span>');
  }
  function reloadBadges() {
    removeBadges();
    for (const ticker of $("#example-getting-started").val()) {
      addBadge(ticker);
    }
  }
  function fillOptions(graphJSON) {
    $('#example-getting-started').multiselect('select',
      graphJSON.data.map(function (value) {
        console.log(value.legendgroup)
        return value.legendgroup;
      })
    );
    reloadBadges();
  }
  $("#example-getting-started").change(function () {
    reloadBadges();
  });
  $(document).ready(function () {
    $('#example-getting-started').multiselect({
      enableFiltering: true,
      includeFilterClearBtn: false,
      enableCaseInsensitiveFiltering: true,
      buttonWidth: '100%',
      numberDisplayed: 1,
      buttonContainer: '<div class="btn-group"/>',
      includeSelectAllOption: true,
      selectAllValue: 'select-all-value'
    });


    var graphJSON = {{ linegraphJSON | safe
  }};
  Plotly.plot('chart', graphJSON, {});
  fillOptions(graphJSON);
  });


  function select() {
    var selected_tickers = $('#example-getting-started option:selected').map(function () {
      return this.value;
    }).get();
    $.getJSON({
      url: "/stock/select",
      data: { 'data': selected_tickers },
      success: function (result) {
        console.log(result.data);
        fillOptions(result);
        // Retrieve tickers supplied to plot and add them to select box

        Plotly.newPlot('chart', result, {});
      }
    });
  }
</script>
{% endblock %}